@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:ital,wght@1,200&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    gap: 5rem;

    padding: 1rem;
}

.header-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.main-header {
    font-family: 'Shadows Into Light', cursive;
    font-size: 10rem;
}

.instructions,
.intro,
.user-grid-instructions {
    font-size: 2rem;
}

.container {
    width: 60rem;
    height: 60rem;
    box-sizing: content-box;

    background-color: peachpuff;
    border: rgb(216, 68, 68) 5rem solid;
    border-radius: 5%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile {
    background-color: whitesmoke;
    border: 0.1px solid grey;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.btn-style {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(216, 68, 68);
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    border: none;
    border-radius: 2rem;
}

.btn-style:hover,
.btn-style:focus {
    background-color: white;
    border: 0.1rem  rgb(216, 68, 68);
    color: rgb(216, 68, 68);
}